@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.section-price {
  background-image: url("../assets/images/bg-price.png");
  object-fit: contain;
}

@font-face {
  font-family: "HansonBold";
  src: url("../assets/fonts/hanson-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/hanson-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
